<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>crisp</name>
    <displayName><![CDATA[Crisp - Live chat &amp; AI Chatbot]]></displayName>
    <version><![CDATA[1.1.4]]></version>
    <description><![CDATA[Improve customer support with Crisp: for each conversation, you get customer&#039;s orders data synced from Prestashop.]]></description>
    <author><![CDATA[Crisp IM]]></author>
    <tab><![CDATA[administration]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>