/var/logs/dev.log
/var/logs/
/var/cache/
/config/settings.inc.php
/app/config/parameters.php
/node_modules/
/vendor/
/translations/
/download/
/upload/
/admin/autoupgrade/tmp/
/admin/autoupgrade/backups/
/admin/autoupgrade/download/
/admin/autoupgrade/upgrade/
/admin/autoupgrade/logs/
/*.log
*.cache
.DS_Store
Thumbs.db
