.idea
translations/*
!translations/en.php
!translations/es.php
!translations/fr.php
!translations/it.php
!translations/vn.php
!translations/de.php
!translations/pl.php
!translations/pt.php
!translations/cs.php
!translations/nl.php
!translations/ru.php
!translations/fa.php
!translations/index.php